{% extends 'layout.html.twig' %}

{% block content %}
    <h1>users</h1>
    <ul>
        {% for user in users %}
            <li><a href="/user/show/{{ user.id }}">{{ user.id }}. {{ user.title }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/user/add">Ajouter</a>
{% endblock %}
